.footer {
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(to right, #aab1ae, #db1a20);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-card {
  border-radius: 25px;
  background: #333333;
  padding: 20px;
  width: 200px;
  height: 70px;
}
